*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #37474f;
    display: flex;
    height: 100vh;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

.btn{
    outline: none;
    width: 100%;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(91deg, rgba(144, 217, 224, 0.90) 0.2%, rgba(84, 96, 230, 0.90) 100%);
    color: #fff;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease;
}
